body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
}
#grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
div {
    background-color: white;
    width: 150px;
    height: 150px;
}


.hover {
    background: black;
}
button {
    margin: 20px;
}